$primary-color: #033716;
$secondary-color: white;

h2 {
  text-align: center;
  font-family: "Segoe UI", serif;
  font-size: xxx-large;
  font-weight: bold;
}

.container {
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: "Segoe UI", serif;
  text-align: left;
}
